/*
Footer elements
*/

.footer {
  background: rgb(33,71,99);
  background: -webkit-linear-gradient(90deg, rgba(33,71,99,1) 0%, rgba(33,70,100,1) 100%);
  background: linear-gradient(90deg, rgba(33,71,99,1) 0%, rgba(33,70,100,1) 100%);
  color: #fff;

  .header {
    @extend .header;
    background-color: #0F2B41;
  }

  .content-box {
    display: grid;
    gap: 25px;
    transition: all $transition-duration $transition-timing-function;

    @media only screen and (max-width: 470px) {
      grid-template-columns: 1fr;
    }
    @media only screen and (min-width: 471px) {
      grid-template-columns: 1fr 1fr;
    }
    @include media-phablet-mx {
      padding: 4vh 0 0;
    }
    @include media-phablet-mn {
      grid-template-columns: 1fr 1fr 1fr;
      padding: 4vh 0 3vh;
    }
    @include media-tablet-v-mn {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    @media only screen and (min-width: 1144px) {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
  }
}

.footer__col {
  width: 100%;
  @include media-tablet-v-mn { max-width: 210px; }

  .footer__title {
    background-repeat: no-repeat;
    background-position: 0 50%;
    border-bottom: 1px solid #fff;
    font-weight: $font-weight-medium;
    text-transform: uppercase;
    white-space: nowrap;
    transition: all $transition-duration $transition-timing-function;

    @include media-phablet-mx {
      font-size: 1rem;
      padding: 10px 0 10px 30px;
    }
    @include media-phablet-mn {
      font-size: 1.25rem;
      padding: 15px 0 15px 30px;
    }
  }
  .nav {
    padding: 15px 0;
  }
  .nav__link {
    color: #fff;
    display: block;
    font-weight: $font-weight-medium;
    max-width: max-content;
    line-height: 1.4;
    padding: 7px 0;
  }
  .nav__link--blue {
    color: $color-blue;

    &:hover {
      text-decoration: underline;
    }
  }
  a:hover {
    color: $color-blue;
  }

  img {
    display: block;
  }
}
.footer__col--client .footer__title {
  background-image: url("../img/i-client-min.svg");
}
.footer__col--info .footer__title {
  background-image: url("../img/i-info-min.svg");
}
.footer__col--suivez .footer__title {
  background-image: url("../img/i-suivez-min.svg");
}
.footer__col--contactez .footer__title {
  background-image: url("../img/i-contactez-min.svg");
}
.footer__col--application .footer__title {
  background-image: url("../img/i-application-min.svg");
}

.footer__nav-bottom {
  border-top: 1px solid $color-blue-dark;
  border-bottom: 1px solid $color-blue-dark;
  padding: 11px 0 13px;

  @include media-phablet-mx {
    margin-bottom: 3vh;
  }
  @include media-phablet-mn {
    margin-bottom: 4vh;
  }

  .nav {
    margin: 0 auto;
    text-align: center;

    @include media-phone-mn {
      display: flex;
      align-items: center;
    }
    @include media-tablet-v-mn {
      max-width: 850px;
    }
  }

  .nav__link {
    color: #fff;
    font-size: 0.813rem; //13px
    font-weight: $font-weight-medium;
    margin: 0 auto;

    @include media-phone-mx {
      display: block;
      padding: 10px;
      width: max-content;
    }
    @include media-phone-mn {
      display: block;
      padding: 8px;
      width: max-content;
    }
    @include media-phone-phablet {
      width: 30%;
    }

    &:hover {
      color: $color-blue;
    }
  }
}

.footer__copy {
  font-size: 0.625rem; // 10px
  opacity: .85;
  text-align: center;

  @include media-phablet-mx {
    padding-bottom: 3vh;
  }
  @include media-phablet-mn {
    padding-bottom: 6vh;
  }
}