/*
Header elements
*/

.header {
  background-color: $color-blue-dark;

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-bottom: 13px;
    text-align: center;
    transition: all $transition-duration $transition-timing-function;

    @include media-phone-mx {
      max-width: 330px;
    }
  }

  .logo {
    display: block;
    margin: 0 3vw;
    padding-top: 9px;
    padding-bottom: 10px;
    position: relative;
    // Animation
    opacity: 0;
    transition: all $transition-duration $transition-timing-function;

    @include media-phablet-mx {
      max-width: 130px;
    }
  }

  .logo--conseils {
    @include media-phablet-mn {
      width: 192px;
    }

    // Animation
    -webkit-animation: slideLeft .5s cubic-bezier(0.25, 0.45, 0.45, 0.94) both;
    animation: slideLeft .5s cubic-bezier(0.25, 0.45, 0.45, 0.95) both;
    @-webkit-keyframes slideLeft {
      0% { opacity: 0; transform: translateX(50px); }
      100% { opacity: 1; transform: translateX(0); }
    }
    @keyframes slideLeft {
      0% { opacity: 0; transform: translateX(50px); }
      100% { opacity: 1; transform: translateX(0); }
    }
  }

  .logo--mooncard {
    @include media-phablet-mn {
      height: 31px;
      width: 190px;
    }

    // Animation
    -webkit-animation: slideRight .5s $transition-timing-function both;
    animation: slideRight .5s $transition-timing-function both;
    @-webkit-keyframes slideRight {
      0% { opacity: 0; transform: translateX(-50px); }
      100% { opacity: 1; transform: translateX(0); }
    }
    @keyframes slideRight {
      0% { opacity: 0; transform: translateX(-50px); }
      100% { opacity: 1; transform: translateX(0); }
    }
  }
}


