/* The container must be positioned relative: */
.custom-select {
  margin-top: 17px;
  position: relative;

  .form__label {
    color: #8e8e8e;
    padding-left: 1.5rem;
    transform: translateY(-2.55rem) scale(0.7);
  }
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  border: 1px solid #dfdfdf;
  border-radius: var(--bdrs);
  box-sizing: border-box;
  color: #2d2d2d;
  cursor: pointer;
  display: block;
  font-family: $font-family-accent;
  font-size: 0.875rem; //14px
  font-weight: $font-weight-medium;
  outline: none;
  padding: 1.55rem 1rem .45rem;
  position: relative;
  z-index: 1;
  width: 100%;

  &:focus {
    border: 1px solid #d0d0d0;
    box-shadow: none;
    color: $color-black;
    outline: none;
  }
}
.select-selected.select-arrow-active {
  border: 1px solid #bcbcbc;
  border-radius: var(--bdrs) var(--bdrs) 0 0;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  content: "";
  background: url("../img/i-arrow-min.svg") 50% no-repeat;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 11px;
  height: 11px;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  transform: rotate(180deg);
}

/* Style items (options): */
.select-items {
  background-color: #fff;
  border: 1px solid #bcbcbc;
  border-radius: 0 0 var(--bdrs) var(--bdrs);
  box-sizing: border-box;
  max-height: 10rem;
  overflow-y: auto;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  z-index: 1;
  width: 100%;
}

/* style the items (options), including the selected item: */
.select-items div {
  background-color: #fff;
  cursor: pointer;
  font-family: $font-family-accent;
  font-size: 0.875rem; //14px
  padding: 1vh 1rem;
  transition: all $transition-duration $transition-timing-function;

  &:first-child {
    padding-top: 1.5vh;
  }
  &:last-child {
    padding-bottom: 1.5vh;
  }
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: $color-grey-light;
  color: $color-black;
}